div {
    background-color: blueviolet;
    width: 500;
    height: 500;
    text-align: center;
    border: 10 solid #666;
    align-self: start;
    margin-left: 400;
    margin-top: 50;
    padding-top: 100;
    margin-bottom: 50;
}

input {
    background-color: aqua;
    margin: 10px;
    padding: 10px;
}

body {
    background-color: rgb(206, 145, 145);
}

button {
    width: 20;
    height: 20;
}